/* Css da Página Inicial - Index Html */

html {
	width: 100%;
	height: 100%;
}

header {
	background: linear-gradient(90deg, #20B2AA, #00CED1, #40E0D0);
}

.caixa {
	width: 90%;
	position: relative;
	margin: 0 auto;
}

body {
	width: 100%;
	height: 100%;
}

.titulo-pre {
	text-align: center;
	margin-top: 2rem;
}

.titulo-pre a, p {
	text-decoration: none;
	font-size: 1.1rem;
	color: #20B2AA;
	display: inline-block;
}

main {
	max-width: 90%;
	min-height: 100vh;
	margin: auto;
}

.titulo-cabecalho {
	position: absolute;
	color: white;
	text-decoration: none;
	font-size: 2rem;
	top: 30px;
	left: 10%;
	display: inline-block;
}
form input {
	border: none;
	display: inline-block;
	position: absolute;
	margin: 2.5% 0 0 25%;
	padding: 0.5rem;
	border-radius: 20px;
}

nav {
	position: absolute;
	right: 0px;
	display: inline-block;
	top: 25px;
}

nav li {
	display: inline-block;
	padding: 1rem;
}

nav a {
	color: white;
	font-size: 1.5rem;
	text-decoration: none;
}

.botoes {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.botao-legenda {
	text-align: center;
	di
}

.botao-legenda p {
	color: #20B2AA;
	display: block;
}

.tecla {
	width: 150px;
	height: 150px;
	background: url(botao.png) no-repeat;
	background-size: cover;
	border: none;
	cursor: pointer;
}

.tecla:active {
	transform: scale(0.9);
}

footer {
	background: linear-gradient(90deg, #20B2AA, #00CED1, #40E0D0);
	text-align: center;
	bottom: 0;
	height: 155px;
}

.copyright {
	color: white;
	font-size: 1.2rem;
	padding: 1rem;
}








